<% if users.any? %>
 <ul class="list-unstyled">
     <% users.each do |user| %>
         <div class="card mt-3">
           <div class="card-body">
              <li class="media row">
                  <div class="col-sm-2 offset-sm-1">
                  <% if user.image? %>
                    <img src='<%= user.image %>' width="50" heigth="50"　class="img-fluid p-5" alt="ユーザーアイコン">
                  <% else %>
                    <img src="/assets/fallback/default.jpg"　width="50" heigth="50" alt="ユーザーアイコン">
                  <% end %>
                  </div>
                  <div class="media-body col-sm-9">
                      <div>
                          <p>Name:<%= user.name %></p>
                      </div>
                      <div>
                          <p>
                              Profile:<%= user.profile %>
                          </p>
                          <%= link_to "プロフィールを見る", user_path(user) %>
                      </div>
                  </div>
              </li>
           </div>
         </div>
     <% end %>
 </ul>
 <%= paginate users %>
 <div class="mt-4"></div>
<% end %>